<header class="header">
  <a style="text-decoration: none;" routerLink="/main"><div class="logo">🎓 KBTU Services</div></a>
  <nav class="nav">

    <ng-container *ngIf="isAuthPage; else mainNav">
      <a routerLink="/login" class="login">Sign In</a>
      <a routerLink="/registration" class="signup">Sign Up</a>
    </ng-container>

    <ng-template #mainNav>
        <a routerLink="/main" routerLinkActive="active">Home</a>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
        <a class="logout" (click)="logout()">Logout</a>
    </ng-template>
  </nav>
</header>