<div class="card">

    <div class="image"></div>

    <div class="content">
        <h3>Essay Writing Help</h3>

        <p class="author">by Yerlan</p>

        <div class="rating">
            ⭐ 4.8 <span>(120)</span>
        </div>

        <div class="bottom">
            <div class="price">$10</div>
            <button>Order</button>
        </div>

    </div>

</div>
<div class="card">

    <div class="category math">
        ∑ Math
    </div>

    <h3>Linear Algebra Help</h3>

    <p class="author">by Student</p>

    <div class="bottom">
        <span class="price">$10</span>
        <button>Order</button>
    </div>

</div>
