
<!-- MAIN PROFILE CONTENT -->
<div class="profile-container">

    <!-- PROFILE HEADER (cover + avatar) -->
    <div class="profile-header">
        <div class="cover-image"></div>
        <div *ngIf="profile$ | async as profile" class="profile-info">
            <div class="avatar">👨‍🎓</div>
            <h1 class="animate-title">{{profile.username}}</h1>
            <p class="student-id animate-fade">ID: {{profile.id}}</p>
            <p class="student-bio animate-fade">{{profile.first_name}} {{profile.last_name}}</p>
            <div class="stats">
                <div class="stat">
                    <span class="stat-value">{{getAverageRating()}}</span>
                    <span class="stat-label">Rating</span>
                </div>
            </div>
        </div>
    </div>

    <!-- TABS -->
<div class="tabs">
  <div class="tab" [class.active]="activeTab === 'services'" (click)="setTab('services')">My Services {{services.length}}</div>
  <div class="tab" [class.active]="activeTab === 'requests'" (click)="setTab('requests')">My Orders {{orders.length}}</div>
  <div class="tab" [class.active]="activeTab === 'orders'" (click)="setTab('orders')">Received Orders {{requestedOrders.length}}</div>
</div>

<!-- TAB 1: MY SERVICES -->
<div class="tab-content" *ngIf="activeTab === 'services'">
    <ng-container *ngIf="services.length <= 0">You don't have any!</ng-container>
  <app-servicepostcard *ngFor="let service of services" [service]="service"
                        (deleted)="onServiceDeleted($event)"
                        (updated)="onServiceUpdated($event)"></app-servicepostcard>
</div>

<!-- TAB 2: MY REQUESTS -->
<div class="tab-content" *ngIf="activeTab === 'requests'">
    <ng-container *ngIf="services.length <= 0">You don't have any!</ng-container>
    <app-ordercard *ngFor="let order of orders" [order]="order"
                    (deleted)="onOrderDelete($event)"></app-ordercard>
</div>

<!-- TAB 3: ORDERS RECEIVED -->
<div class="tab-content" *ngIf="activeTab === 'orders'">
    <ng-container *ngIf="services.length <= 0">You don't have any!</ng-container>
</div>

